*.log
*.sum
*.exp
*.config
*.o
*.dot
*.s
nush-testcase/*.svg
nush-testcase/*.png
nush-testcase/*.jpg
report.*
!report.tex
Release/
Release+Asserts/
config.status
include/klee/Config/config.h
lib/*/Release/
runtime/*/Release/
runtime/*/Release+Asserts/
stp/*/Release/
test/*/Output/
test/*/*/Output/
tools/*/Release/
unittests/*/Release/
lib/Core/ExecutionState.link
headers
